<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
  <main>
    <section class="call-you container">
      <h2 class="call-head">Fresh Harvest Box has got you covered</h2>
      <p class="call-item">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
      <form class="call-form">
        <label class="call-label">
          <input
            type="tel"
            name="subscribe"
            placeholder="+380 ()"
            class="call-input"
          />
        </label>
        <button type="submit" class="call-btn">Subscribe</button>
      </form>
    </section>
  </main>
</html>
