<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
  <main>
    <div class="call-you-container">
      <section class="call-you container">
        <h2 class="call-head">Fresh Harvest Box has got you covered</h2>
        <p class="call-item">
          Our boxes are packed with delicious, nutritious vegetables, perfect
          for anyone looking to eat healthier or support local farmers. Order
          your box today and start enjoying the best that nature has to offer!
        </p>
        <form class="call-form">
          <label class="call-label">
            <input
              type="tel"
              pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
              name="phone"
              placeholder="+380 ()"
              class="call-input"            />
          </label>
          <button type="submit" class="call-btn">Recall</button>
        </form>
      </section>
      <section class="call-you-woman-mob container">
        <img
          srcset="
            ./img/we-will-call-you/call-you-girl-mb.png    1x,
            ./img/we-will-call-you/call-you-girl-mb@2x.png 2x
          "
          class="call-you-woman-mob-img"
          src="./img/we-will-call-you/call-you-girl-mb.png"
          alt="Woman with brokoli"
          width="335"
          height="357"
        />
      </section>
      <section class="call-you-woman-tab container">
        <img
          srcset="
            ./img/we-will-call-you/call-you-girl-tb.png    1x,
            ./img/we-will-call-you/call-you-girl-tb@2x.png 2x
          "
          class="call-you-woman-tab-img"
          src="./img/we-will-call-you/call-you-girl-tb.png"
          alt="Woman with brokoli"
          width="629"
          height="446"
        />
      </section>
      <section class="call-you-woman-dt container">
        <img
          srcset="
            ./img/we-will-call-you/call-you-girl-dt.png    1x,
            ./img/we-will-call-you/call-you-girl-dt@2x.png 2x
          "
          class="call-you-woman-dt-img"
          src="./img/we-will-call-you/call-you-girl-dt.png"
          alt="Woman with brokoli"
          width="525"
          height="499"
        />
      </section>
    </div>
  </main>
</html>
