<header class="top-line">
  <div class="container">
    <nav class="nav-main list">
      <ul class="top-line-nav list">
        <li>
          <a class="project-link first-child" href="./how-it-works.html"
            >How It Works</a
          >
        </li>
        <li>
          <a class="project-link second-child" href="./vegetables.html"
            >Vegetables</a
          >
        </li>
        <li>
          <a class="project-link last-child" href="./call-you.html">Contacts</a>
        </li>
      </ul>
      <address>
        <!-- <a class="main-logo link" href="./index.html"> + псевдоєлемент  VEGGIEBOOST</a> -->
        <a href="./modal.html"><button class="you-order">тележка</button></a>
      </address>
    </nav>
  </div>
</header>
