<!-- hero section -->
<section class="hero">
  <div class="container-hero">
    <div class="hero-content-img">
      <div class="hero-content">
        <ul class="hero-items">
          <li class="hero-avatar">
            <picture>
              <source
                srcset="
                  ./img/hero/user-1-dt.webp x1,
                  ./img/hero/user-1-dt@2x.webp x2,
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/hero/user-1-dt.png x1,
                  ./img/hero/user-1-dt@2x.png x2,
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hero/user-1-mb.webp x1,
                  ./img/hero/user-1-mb@2x.webp x2,
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/hero/user-1-mb.png x1,
                  ./img/hero/user-1-mb@2x.png x2,
                "
                media="(max-width: 767px)"
              />
            </picture>
            <img src="./img/hero/user-1-dt.png" alt="avatar" width="44px" />
          </li>
          <li class="hero-avatar1">
            <picture>
              <source
                srcset="
                  ./img/hero/user-2-dt.webp x1,
                  ./img/hero/user-2-dt@2x.webp x2,
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/hero/user-2-dt.png x1,
                  ./img/hero/user-2-dt@2x.png x2,
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hero/user-2-mb.webp x1,
                  ./img/hero/user-2-mb@2x.webp x2,
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/hero/user-2-mb.png x1,
                  ./img/hero/user-2-mb@2x.png x2,
                "
                media="(max-width: 767px)"
              />
            </picture>
            <img src="./img/hero/user-2-dt.png" alt="avatar" width="44px" />
          </li>
          <li class="hero-avatar2">
            <picture>
              <source
                srcset="
                  ./img/hero/user--dt.webp x1,
                  ./img/hero/user--dt@2x.webp x2,
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/hero/user--dt.png x1,
                  ./img/hero/user--dt@2x.png x2,
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hero/user--mb.webp x1,
                  ./img/hero/user--mb@2x.webp x2,
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/hero/user--mb.png x1,
                  ./img/hero/user--mb@2x.png x2,
                "
                media="(max-width: 767px)"
              />
            </picture>
            <img src="./img/hero/user-3-dt.png" alt="avatar" width="44px" />
          </li>
          <div class="hero-avatar3">
            <p>2k</p>
            <p class="hero-rewiews">reviews</p>
          </div>
        </ul>
        <h1 class="hero-title">
          organic <span> vegetables </span> to your diet today!
        </h1>
        <p class="hero-text">
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
        <button type="button" class="hero-btn">shop now</button>
      </div>
      <div class="hero-img">
        <picture>
          <source
            srcset="
                  ./img/hero/hero-girl-box-dt.webp x1,
                  ./img/hero/hero-girl-box-dt@2x.webp x2,
                "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
                  ./img/hero/hero-girl-box-dt.png x1,
                  ./img/hero/hero-girl-box-dt@2x.png x2,
                "
            media="(min-width: 768px)"
          />
          <source
            srcset="
                  ./img/hero/hero-girl-box-mb.webp x1,
                  ./img/hero/hero-girl-box-mb@2x.webp x2,
                "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
                  ./img/hero/hero-girl-box-mb.png x1,
                  ./img/hero/hero-girl-box-mb@2x.png x2,
                "
            media="(max-width: 767px)"
          />
        </picture>
        <img
          class="hero-img-girl"
          src="./img/hero/hero-girl-box-dt.png"
          alt="girl"
        />
      </div>
    </div>
    <ul class="hero-list">
      <li>
        <button type="button" class="hero-btn-active">#organic</button>
      </li>
      <li>
        <button type="button" class="hero-btn-active hero-btn-fruit">
          #products
        </button>
      </li>
      <li>
        <button type="button" class="hero-btn-active hero-btn-fruit">
          #basket
        </button>
      </li>
      <li>
        <button type="button" class="hero-btn-active hero-btn-fruit">
          #vegetables
        </button>
      </li>
    </ul>
  </div>
</section>
