<section class="step-buy">
  <div class="container step-container">
    <h3 class="Easy-steps">3 Easy Steps for Buying Fresh Vegetables</h3>
    <ol class="step-list">
      <li class="step-list-item">
        <svg class="first-step-icon" width="" height="">
          <use href=""></use>
        </svg>
        <p class="step-text">
          Just choose the vegetable you want to order by clicking on the
          checkboxes next to it.
        </p>
      </li>
      <li class="step-list-item">
        <svg class="second-step-icon" width="" height="">
          <use href=""></use>
        </svg>
        <p class="step-text">Click on the basket and fill out the form.</p>
      </li>
      <li class="step-list-item">
        <svg class="third-step-icon" width="" height="">
          <use href=""></use>
        </svg>
        <p class="step-text">
          Sit back and relax! Your fresh vegetables basket will be delivered.
        </p>
      </li>
    </ol>
  </div>
</section>
