<section id="howitworks" class="section order-section">
  <div class="container order-container">
    <div class="order-title-picture">
      <h2 class="order-title">
        To order your vegetable basket, simply follow these easy steps
      </h2>

      <picture class="picture">
        <source
          srcset="
            ./img/how-it-works/vegetables-dt.jpg     1x,
            ./img/how-it-works/vegetables-dt@2x.jpg  2x,
            ./img/how-it-works/vegetables-dt.webp    1x,
            ./img/how-it-works/vegetables-dt@2x.webp 2x
          "
          media="(min-width: 1280px)"
          width="410"
        />
        <source
          srcset="
            ./img/how-it-works/vegetables-tb.jpg     1x,
            ./img/how-it-works/vegetables-tb@2x.jpg  2x,
            ./img/how-it-works/vegetables-tb.webp    1x,
            ./img/how-it-works/vegetables-tb@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/how-it-works/vegetables-mb.jpg     1x,
            ./img/how-it-works/vegetables-mb@2x.jpg  2x,
            ./img/how-it-works/vegetables-mb.webp    1x,
            ./img/how-it-works/vegetables-mb@2x.webp 2x
          "
          media="(max-with: 767px)"
        />
        <img srcset="./img/how-it-works/vegetables-mb.jpg" alt="vegetables" />
      </picture>
    </div>
    <ul class="order-list list">
      <li class="order-text order-text-one">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </li>
      <li class="order-text order-text-two">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </li>
    </ul>
  </div>
</section>

<!-- block -->
<section class="section section-buying">
  <div class="container-hiw">
    <div class="steps">
      <h2 class="title-hiw">3 Easy Steps for Buying Fresh Vegetables</h2>
      <div class="step-block">
        <ol class="list-hiw">
          <li class="text-hiw first first-one">
            Just choose the vegetable you want to order by clicking on the
            checkboxes next to it.
          </li>
          <li class="text-hiw second second-two">
            Click on the basket and fill out the form.
          </li>
          <li class="text-hiw third third-three">
            Sit back and relax! Your fresh vegetables basket will be delivered.
          </li>
        </ol>
      </div>
    </div>
    <div class="title-girl-picture">
      <picture class="picture-hiw">
        <source
          srcset="
            ./img/how-it-works/girl-red-mb.jpg     1x,
            ./img/how-it-works/girl-red-mb@2x.png  2x,
            ./img/how-it-works/girl-red-mb.webp    1x,
            ./img/how-it-works/girl-red-mb@2x.webp 2x
          "
          media="max-with: 767px"
        />
        <source
          srcset="
            ./img/how-it-works/girl-red-tb.jpg     1x,
            ./img/how-it-works/girl-red-tb@2x.png  2x,
            ./img/how-it-works/girl-red-tb.webp    1x,
            ./img/how-it-works/girl-red-tb@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/how-it-works/girl-red-dt.jpg     1x,
            ../img/how-it-works/girl-red-dt@2x.png  2x,
            ../img/how-it-works/girl-red-dt.webp    1x,
            ../img/how-it-works/girl-red-dt@2x.webp 2x
          "
          media="(min-width: 1158px)"
        />
        <img srcset="./img/how-it-works/girl-red-mb.jpg" alt="girl-red" />
      </picture>
    </div>
  </div>
</section>
