<section class="section order-section">
  <div class="container order-container">
    <div class="order-title-picture">
      <h1 class="order-title">
        To order your vegetable basket, simply follow these easy steps
      </h1>
      <img
        class="picture"
        src="../img/vegetables.png"
        alt="cabbage"
        with="310"
        height="176"
      />
    </div>

    <ul class="order-list list">
      <li class="order-text order-text-one">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </li>
      <li class="order-text order-text-two">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </li>
    </ul>
  </div>
</section>
