<div class="mob-menu is-hidden" data-menu>
  <div class="menu-header">
    <div class="menu-logo">
      <svg class="menu-logo-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-vector"></use>
      </svg>
      <a class="menu-title" href="./index">veggieboost</a>
    </div>
    <button type="button" class="menu-close-btn" data-menu-close>
      <svg class="mob-menu-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <div class="menu-container">
    <ul class="mob-menu-list list">
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#howitworks">How It Works</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#vegtables">Vegetables</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#contacts">Contacts</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="./modal.html">
          <svg class="mob-list-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-shopping-cart-converted"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
