<section class="vegetables">
  <div class="container">
    <h2 class="veg-title">oRGANIC vegetables</h2>
    <p class="veg-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="veg-list">
      <li class="veg-card">
        <div>
          <h3 class="veg-card-title">Carrot</h3>
          <p class="veg-description">Plant</p>
        </div>
        <div>
          <div class="veg-thumb">
            <picture>
              <source
                srcset="
                  ../img/vegetables/carrot.webp    1x,
                  ../img/vegetables/carrot@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/carrot.png    1x,
                  ../img/vegetables/carrot@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/vegetables/carrot-mb.webp    1x,
                  ../img/vegetables/carrot-mb@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/carrot-mb.png    1x,
                  ../img/vegetables/carrot-mb@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../img/vegetables/carrot.png" alt="Carrot" />
            </picture>
          </div>
          <p class="veg-price">100 UAH / kg</p>
        </div>
      </li>
      <li class="veg-card">
        <div>
          <h3 class="veg-card-title">Brussel sprouts</h3>
          <p class="veg-description">Plant</p>
        </div>
        <div>
          <div class="veg-thumb">
            <picture>
              <source
                srcset="
                  ../img/vegetables/brussel.webp    1x,
                  ../img/vegetables/brussel@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/brussel.png    1x,
                  ../img/vegetables/brussel@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/vegetables/brussel-mb.webp    1x,
                  ../img/vegetables/brussel-mb@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/brussel-mb.png    1x,
                  ../img/vegetables/brussel-mb@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../img/vegetables/brussel.png" alt="Brussel sprouts" />
            </picture>
          </div>
          <p class="veg-price">80 UAH / kg</p>
        </div>
      </li>
      <li class="veg-card">
        <div>
          <h3 class="veg-card-title">Tomato</h3>
          <p class="veg-description">Plant</p>
        </div>
        <div>
          <div class="veg-thumb">
            <picture>
              <source
                srcset="
                  ../img/vegetables/tomato.webp    1x,
                  ../img/vegetables/tomato@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/tomato.png    1x,
                  ../img/vegetables/tomato@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/vegetables/tomato-mb.webp    1x,
                  ../img/vegetables/tomato-mb@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/tomato-mb.png    1x,
                  ../img/vegetables/tomato-mb@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../img/vegetables/tomato.png" alt="Tomato" />
            </picture>
          </div>
          <p class="veg-price">40 UAH / kg</p>
        </div>
      </li>
      <li class="veg-card">
        <div>
          <h3 class="veg-card-title">Eggplant</h3>
          <p class="veg-description">Plant</p>
        </div>
        <div>
          <div class="veg-thumb">
            <picture>
              <source
                srcset="
                  ../img/vegetables/eggplant.webp    1x,
                  ../img/vegetables/eggplant@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/eggplant.png    1x,
                  ../img/vegetables/eggplant@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/vegetables/eggplant-mb.webp    1x,
                  ../img/vegetables/eggplant-mb@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/eggplant-mb.png    1x,
                  ../img/vegetables/eggplant-mb@2x.png 2x
                "
                media="(max-width: 767)"
              />
              <img src="../img/vegetables/eggplant.png" alt="Eggplant" />
            </picture>
          </div>
          <p class="veg-price">60 UAH / kg</p>
        </div>
      </li>
      <li class="veg-card">
        <div>
          <h3 class="veg-card-title">Sweet potatoes</h3>
          <p class="veg-description">Plant</p>
        </div>
        <div>
          <div class="veg-thumb">
            <picture>
              <source
                srcset="
                  ../img/vegetables/potatoes.webp    1x,
                  ../img/vegetables/potatoes@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/potatoes.png    1x,
                  ../img/vegetables/potatoes@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/vegetables/potatoes-mb.webp    1x,
                  ../img/vegetables/potatoes-mb@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/potatoes-mb.png    1x,
                  ../img/vegetables/potatoes-mb@2x.png 2x
                "
                media="(max-width: 767)"
              />
              <img src="../img/vegetables/potatoes.png" alt="Sweet potatoes" />
            </picture>
          </div>
          <p class="veg-price">80 UAH / kg</p>
        </div>
      </li>
      <li class="veg-card">
        <div>
          <h3 class="veg-card-title">Leek</h3>
          <p class="veg-description">Plant</p>
        </div>
        <div>
          <div class="veg-thumb">
            <picture>
              <source
                srcset="
                  ../img/vegetables/leek.webp    1x,
                  ../img/vegetables/leek@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/leek.png    1x,
                  ../img/vegetables/leek@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/vegetables/leek-mb.webp    1x,
                  ../img/vegetables/leek-mb@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/leek-mb.png    1x,
                  ../img/vegetables/leek-mb@2x.png 2x
                "
                media="(max-width: 767)"
              />
              <img src="../img/vegetables/leek.png" alt="Leek" />
            </picture>
          </div>
          <p class="veg-price">50 UAH / kg</p>
        </div>
      </li>
      <li class="veg-card">
        <div>
          <h3 class="veg-card-title">Mushrooms</h3>
          <p class="veg-description">Plant</p>
        </div>
        <div>
          <div class="veg-thumb">
            <picture>
              <source
                srcset="
                  ../img/vegetables/mushrooms.webp    1x,
                  ../img/vegetables/mushrooms@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/mushrooms.png    1x,
                  ../img/vegetables/mushrooms@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/vegetables/mushrooms-mb.webp    1x,
                  ../img/vegetables/mushrooms-mb@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/mushrooms-mb.png    1x,
                  ../img/vegetables/mushrooms-mb@2x.png 2x
                "
                media="(max-width: 767)"
              />
              <img src="../img/vegetables/mushrooms.png" alt="Mushrooms" />
            </picture>
          </div>
          <p class="veg-price">40 UAH / kg</p>
        </div>
      </li>
      <li class="veg-card">
        <div>
          <h3 class="veg-card-title">Corn</h3>
          <p class="veg-description">Plant</p>
        </div>
        <div>
          <div class="veg-thumb">
            <picture>
              <source
                srcset="
                  ../img/vegetables/corn.webp    1x,
                  ../img/vegetables/corn@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/corn.png    1x,
                  ../img/vegetables/corn@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/vegetables/corn-mb.webp    1x,
                  ../img/vegetables/corn-mb@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/corn-mb.png    1x,
                  ../img/vegetables/corn-mb@2x.png 2x
                "
                media="(max-width: 767)"
              />
              <img src="../img/vegetables/corn.png" alt="Corn" />
            </picture>
          </div>
          <p class="veg-price">60 UAH / kg</p>
        </div>
      </li>
      <li class="veg-card">
        <div>
          <h3 class="veg-card-title">Radish</h3>
          <p class="veg-description">Plant</p>
        </div>
        <div>
          <div class="veg-thumb">
            <picture>
              <source
                srcset="
                  ../img/vegetables/radish.webp    1x,
                  ../img/vegetables/radish@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/vegetables/radish.png    1x,
                  ../img/vegetables/radish@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <img src="../img/vegetables/radish.png" alt="Radish" />
            </picture>
          </div>
          <p class="veg-price">90 UAH / kg</p>
        </div>
      </li>
    </ul>
  </div>
</section>
