:root {
  --text: #141414;
  --bg-and-text: #fff;
  --bg-hero: #a1c487;
  --bg-footer-img: #eaf7e5;
  --btn: #fc8a11;
  --bg-girl-modal-img: #faf3e7;
  --input: #c1bdbd;
  --icon-close-mob: #77ac63;

}

body {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--bg-and-text);
}
.container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
