:root {
  --text: #141414;
  --bg-and-text: #fff;
  --bg-hero: #a1c487;
  --bg-footer-img: #eaf7e5;
  --btn: #fc8a11;
  --bg-girl-modal-img: #faf3e7;
  --input: #c1bdbd;
}

body {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--bg-and-text);
}
