/* ----------Mobile---------- */

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.call-you {
  padding-top: 100px;
  max-width: 375px;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
}
.call-head {
  color: var(#141414);
  max-width: 320px;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.call-item {
  color: var(#141414);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  max-width: 320px;
  margin-bottom: 40px;
}

.call-form {
  width: 100%;
  justify-content: center;
  max-width: 335px;
  position: relative;
}

.call-label {
  width: 100%;
}

.call-input {
  border: 1px solid #c1bdbd;
  border-radius: 100px;
  width: 100%;
  height: 48px;
  flex-shrink: 0;
}

.call-input::placeholder {
  padding: 15px 24px;
  color: #c1bdbd;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.call-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border-radius: 100px;
  max-width: 105px;
  color: #fff;
  background: #fc8a11;
  padding: 15px 35px;
  color: #fff;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: capitalize;
  border: none;
}

.call-you-woman-mob {
  max-width: 335px;
  border-radius: 68px;
  background: #faf3e7;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/we-will-call-you/call-you-background-mb.png);
}

.call-you-woman-tab {
  display: none;
}
.call-you-woman-dt {
  display: none;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .call-you-woman-mob {
    background-image: url(../img/we-will-call-you/call-you-background-mb@2x.png);
  }
}
@media screen and (max-width: 428px) {
  .container {
    max-width: 90%;
  }
}

/* ----------Tablet---------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .call-you {
    padding-bottom: 80px;
  }

  .call-head {
    margin-left: auto;
    margin-right: auto;
    max-width: 524px;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1.6px;
    text-transform: uppercase;
  }

  .call-item {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.72px;
    max-width: 499px;
  }

  .call-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
  }

  .call-you-woman-tab {
    display: block;
    max-width: 629px;
    border-radius: 80px;
    background: #faf3e7;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/we-will-call-you/call-you-background-tb.png);
  }

  .call-you-woman-mob {
    display: none;
  }

  .call-you-woman-dt {
    display: none;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .call-you-woman-tab {
      background-image: url(../img/we-will-call-you/call-you-background-tb@2x.png);
    }
  }
}

/* ----------PC---------- */

@media screen and (min-width: 1280px) {
  .call-you-container {
    justify-content: center;
    display: flex;
  }

  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .call-you {
    max-width: 614px;
    float: left;
    margin: 98px 77px 98px 0px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .call-head {
    text-align: left;
    max-width: 614px;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    font-size: 48px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -1.92px;
    text-transform: uppercase;
  }

  .call-item {
    margin-left: 0;
    text-align: left;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.72px;
    max-width: 523px;
  }

  .call-form {
    max-width: 350px;
    float: left;
  }

  .call-you-woman-dt {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 525px;
    border-radius: 68px;
    background: #faf3e7;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/we-will-call-you/call-you-background-dt.png);
  }

  .call-you-woman-tab {
    display: none;
  }

  .call-you-woman-mob {
    display: none;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .call-you-woman-dt {
      background-image: url(../img/we-will-call-you/call-you-background-dt@2x.png);
    }
  }
}
