.header {
  position: fixed;
  padding-top: 16px;
  background-color: #fff;
  height: 50px;
}

.header-container { 
  display: flex;
  align-items: center;

}

.navigation { 
  display: flex;
  align-items: center;
  
}


.navigation-list { 
  display: flex;
  gap:20px;
 
  
}


.project-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #141414;
  text-align: center;
  font-size: 14px;

}

.project-link:hover,
.project-link:focus {
  color: #747bff;
}

.logotype-link { 
  display: flex;
  
}
.logo-link {margin-left: 332px;
margin-right: 525px; }


 .logo-icon {margin-right:8px;} 


.shop-bag { margin-left: auto;S
           border:none;}


           .shop-bag :hover,
           .shop-bag :focus {color:#A1C487 } 
/* Mobile-menu */
  @media screen (min-width:320px ) and ( max-width: 374px) {
.header-container {padding: 20px;}

  }

  @media screen ( min-width:375px) and ( max-width: 768px){  }