.section-buying {
  max-width: 100%;

  padding-top: 40px;

  background-image: url(../img/how-it-works/how-it-works-background-mb.png);
  background-color: var(--bg-girl-modal-img);
  border-radius: 40px;
  background-size: cover;
}

.container {
  max-width: 335px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: var(--text);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
}

.number-one {
    display: flex;
    position: relative;
}

.number-two {
    display: flex;
    position: relative;
}

.number-three {
    display: flex;
    position: relative;
    padding-top: 20px;
}

.text {
  list-style: none;
  padding-left: 50px;
  margin-bottom: 10px;
  color: var(--text);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  flex-direction: column;
}

.text-first::before {
  content: '1';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-hero);
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 20px;
  position: absolute;  
  margin-top: 0px;
  padding-top: 10px;
  left: 0;
  top: 7px;
}

.text-second::before {
  content: '2';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-hero);
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 20px;
  position: absolute;
  margin-top: 0px;
  padding-top: 10px;
  top: 0;
  left: 0;
}

.text-third::before {
  content: '3';
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--bg-hero);
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 20px;
  position: absolute;  
  margin-top: 0px;
  padding-top: 10px;
  top: 20px;
  left: 0;
}

<<<<<<< Updated upstream
.picture {
  justify-content: center;
}

.list  {
  padding-left: 0;
  justify-content: center;
  flex-direction: column;
}

=======
.text-first {
    display: 176px;
}

.text-second {
    width: 166px;    
}

.text-third {
    display: 199px;  
}

>>>>>>> Stashed changes
@media screen and (max-width: 767px) {

    .section-buying {
    flex-shrink: 0;
    background-color: var(--bg-girl-modal-img);
    border-radius: 40px;
    display: block;
    flex-wrap: wrap;
  }

  .title {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.96px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 21px;
  }

  .text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
  }

  .img {
    width: 258px;
    height: 319px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1157px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 40px;
    padding: 0;
  }

  .section-buying {
    width: 100%;
    background-image: url(../img/how-it-works/how-it-works-background-tb.png);
    background-color: var(--bg-girl-modal-img);
    border-radius: 80px;
    margin-left: 32px;
    background-size: cover;
  }

  .title-girl-picture {
    display: flex;
  }

  .steps {
    display: flex;
    flex-direction: column;
    gap: 40;
    justify-content: center;
  }

  .title {
    width: 274px;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
    justify-content: center;
  }

  .text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
    display: flex;
    flex-wrap: wrap;
  }

  .first {
    width: 176px;
  }

  .second {
    width: 166px;
  }

  .third {
    width: 199px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1216px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0;
  }

  .section-buying {
    width: 1216px;
    height: 460px;
    background-image: url(../img/how-it-works/how-it-works-background-dt.png);
    background-color: var(--bg-girl-modal-img);
    border-radius: 80px;
    margin-left: 32px;
  }

  .title {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
    width: 512px;
    justify-content: center;
  }

  .steps {
    display: flex;
    flex-direction: column;
    gap: 40;
    justify-content: center;
  }

  .text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.56px;
    flex-direction: column;
  }

  .list {
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
  }

  .picture {
    width: 434px;
    height: 420px;
    display: flex;
    margin-right: 110px;
  }

  .text-first {
    width: 289px;
  }

  .text-second {
    width: 166px;
  }

  .text-third {
    width: 289px;
  }
}